<h1>Your parcel volume is: <%= @result %> cubic inches</h1>
<h1>The ship speed you selected is <%=@ship_speed%></h1>
<h1>It's going to cost you <%= @ship_cost %> to ship this parcel</h1>
<a href="/">Return to Home</a>
