<h1>Your parcel volume is: <%= @parcel_volume %> cubic inches</h1>
<h1>The ship speed you selected is <%= @ship_speed_text %></h1>
<h1>It's going to cost you $<%= @ship_cost %>.00 to ship this parcel</h1>
<h1>Cost to gift wrap is: $<%= @gift_wrap_cost %></h1>
<a href="/">Clear Results</a>
